---
import {Icon} from 'astro-icon'
import {
  AnnouncementBar,
	Button,
	CustomerQuoteSection,
	YouTubeEmbedSection,
  StickyTextImageSection,
  CtaCardSection
} from '@littlesticks/odyssey-theme-components';
import Layout from '../layouts/Page.astro';
import TextAndImageHero from '../components/sections/heros/TextAndImageHero.astro';
import ThreeColumnTextSection from "../components/OdesseyComponents/sections/ThreeColumnTextSection.astro"
const seo = {
	title: 'Studio Seven6 Yoga',
	description: 'Studio Seven6 Yoga',
};
---

<Layout seo={seo} >
	<TextAndImageHero reversed>
		<div slot="text-container">
			<h3>Yoga  .  Stretch  .  Recover</h3>
      <p>Northport and Tuscaloosa's newest yoga studio specializing in a variety of types of yoga.</p>
			
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/yoga-bg.jpeg"
				alt="Basic Yoga Image"
				id="home-hero-image"
			/>
		</picture>
	</TextAndImageHero>

	<ThreeColumnTextSection>
		<div slot="column-1-body">
			<h2>Where?</h2>
			<p>
				We are located inside of NorthRidge Fitness at 300 Mcfarland Blvd Northport, AL 35476
			</p>
		</div>
		<Button href="http://maps.google.com/?q=300 Mcfarland Blvd Northport, AL 35476" newTab = {true} slot="column-1-cta">Get Directions</Button>
		<div slot="column-2-body">
			<h2>When?</h2>
			<p>
				Come to one of our classes posted the schedule here on our site or on our socials!
			</p>
		</div>
		<Button href = "/company/schedule" slot="column-2-cta" outlined>View Schedule</Button>
		<div slot="column-3-body">
			<h2>Who?</h2>
			<p>
				We have a wonderful team of instructors deticated to helping you with yoga no matter what stage you are at!
			</p>
		</div>
		<Button href = '/company/team' slot="column-3-cta">Meet the Team</Button>
	</ThreeColumnTextSection>

  <StickyTextImageSection>
    <div slot="text-container">
      <h2>Features</h2>
      <h3>Studio</h3>
      <p>
        Come see our beutiful newly renovated studio! Fill in details about the studio (or any other feature)
      </p>
      <h3>Instructors</h3>
        <p>
        Our instructors... Fill in details about instructors (or any other feature)
      </p>
      <h3>Scheduling</h3>
        <p>
          Fill in details about the schedule (or any other feature)
        </p>
    </div>
     <picture slot="image-container">
      <img
        src="/assets/images/yoga-mat.jpeg"
        alt="Astro Odyssey"
        loading="lazy"
      />
    </picture>
  </StickyTextImageSection>

</Layout>


