---
import {Icon} from 'astro-icon'
import Layout from '../layouts/Page.astro';
import TextAndImageHero from '../components/sections/heros/TextAndImageHero.astro';
import ThreeColumnTextSection from "../components/OdesseyComponents/sections/ThreeColumnTextSection.astro"
import StickyTextImageSection from "../components/OdesseyComponents/sections/StickyTextImageSection.astro"
import CtaCardSection from "../components/OdesseyComponents/sections/CtaCardSection.astro"
import AnnouncementBar from "../components/OdesseyComponents/core/AnnouncementBar.astro"
import Button from '../components/OdesseyComponents/buttons/Button.astro';

const seo = {
	title: 'Studio Seven6 Yoga',
	description: 'Tuscaloosa and Northports newest Yoga studio Northport Tuscaloosa Northridge fitness wellness meditate relax',
};
---
<!-- <AnnouncementBar text="• Get 3 Classes for $35 •" href = "/company/schedule" /> -->

<Layout seo={seo} >
	<TextAndImageHero reversed>
		<div slot="text-container">
			<h1 class = "title">Yoga  .  Stretch  .  Recover</h1>
      <p>Northport and Tuscaloosa's newest yoga studio specializing in a variety of types of yoga.</p>
			
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/yoga-bg.jpeg"
				alt="Basic Yoga Image"
				id="home-hero-image"
        loading="eager"
			/>
		</picture>
	</TextAndImageHero>

	<ThreeColumnTextSection>
		<div slot="column-1-body">
			<h2>Where?</h2>
			<p>
				We are located inside of NorthRidge Fitness at 300 Mcfarland Blvd Northport, AL 35476
			</p>
		</div>
		<Button href="http://maps.google.com/?q=300 Mcfarland Blvd Northport, AL 35476" newTab = {true} slot="column-1-cta">Get Directions</Button>
		<div slot="column-2-body">
			<h2>When?</h2>
			<p>
				View and sign up for classes right here on our site or through the momoyoga app!
			</p>
		</div>
		<Button href = "/company/schedule" slot="column-2-cta" outlined>View Schedule</Button>
		<div slot="column-3-body">
			<h2>Who?</h2>
			<p>
				We have a wonderful team of instructors dedicated to helping you with yoga no matter what stage you are at!
			</p>
		</div>
		<Button href = '/company/team' slot="column-3-cta">Meet the Team</Button>
	</ThreeColumnTextSection>
<!-- Fill in details here -->
  <StickyTextImageSection>
    <div slot="text-container">
      <h2>Features</h2>
      <h3>Studio</h3>
      <p>
        Come see our beautiful newly renovated studio!
      </p>
      
      <h3>Instructors</h3>
        <p>
        With a variety of skilled instructors, you are sure to be able to find the right class for you!
      </p>
    </div>
     <picture slot="image-container">
      <img
        src="/assets/images/yoga-mat.jpeg"
        alt="Astro Odyssey"
        loading="eager"
      />
    </picture>
  </StickyTextImageSection>

  <CtaCardSection background="var(--theme-surface-2)" color="var(--theme-on-surface-2)">
    <h3>Register For Classes With Us Today</h3>
    <p>Click here to register with our studio on Momoyoga and start signing up for classes!</p>
    <Button href="https://www.momoyoga.com/studioseven6yoga/register/" customIcon > Register <Fragment slot="icon">
      <Icon name="ic:baseline-chevron-right"/>
    </Fragment></Button>
  </CtaCardSection>

</Layout>


