---
import {Icon} from 'astro-icon'
import {
  AnnouncementBar,
	Button,
	CustomerQuoteSection,
	ThreeColumnTextSection,
	YouTubeEmbedSection,
  StickyTextImageSection,
  CtaCardSection
} from '@littlesticks/odyssey-theme-components';
import Layout from '../layouts/Page.astro';
import TextAndImageHero from '../components/sections/heros/TextAndImageHero.astro';

const seo = {
	title: 'Studio Seven6 Yoga',
	description: 'Studio Seven6 Yoga',
};
---

<Layout seo={seo} >
	<TextAndImageHero reversed>
		<div slot="text-container">
			<h3>Yoga  .  Stretch  .  Recover</h3>
      <p>Northport and Tuscaloosa's newest yoga studio specializing in a variety of types of yoga.</p>
			
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/yoga-bg.jpeg"
				alt="Astro Odyssee"
				id="home-hero-image"
			/>
		</picture>
	</TextAndImageHero>

	<ThreeColumnTextSection>
		<div slot="column-1-body">
			<h2>Where?</h2>
			<p>
				We are located inside of NorthRidge Fitness at 300 Mcfarland Blvd Northport, AL 35406
			</p>
		</div>
		<Button slot="column-1-cta">Get Directions</Button>
		<div slot="column-2-body">
			<h2>When?</h2>
			<p>
				Come to one of our classes posted the schedule here on our site or on our socials!
			</p>
		</div>
		<Button slot="column-2-cta" outlined>View Schedule</Button>
		<div slot="column-3-body">
			<h2>Why?</h2>
			<p>
				Yoga improves strength and flexibility, eases stress and anxiety levels, improves sleep, and so more more!
			</p>
		</div>
		<Button slot="column-3-cta">Learn More</Button>
	</ThreeColumnTextSection>

  <StickyTextImageSection>
    <div slot="text-container">
      <h2>Features</h2>
      <h3>Studio</h3>
      <p>
        stuff about studio goes here
      </p>
      <h3>Teachers</h3>
        <p>
        stuff about instructors
      </p>
      <h3>Scheduling?</h3>
        <p>
        stuff about scheduling
      </p>
    </div>
     <picture slot="image-container">
      <img
        src="/assets/images/yoga-mat.jpeg"
        alt="Astro Odyssey"
        loading="lazy"
      />
    </picture>
  </StickyTextImageSection>

</Layout>


