---
const { href, unelevated, outlined, customIcon, onPrimary, newTab } =
  Astro.props;

const Tag = href ? 'a' : 'button';
---

<Tag
  class={`btn ${unelevated && `btn--unelevated`} ${
    outlined && `btn--outlined`
  } ${onPrimary && `btn--on-primary`}`}
  href={href}
  target={`${newTab ? '_blank': ``}`}
  rel={`${newTab ? 'noopener noreferrer' : ``}`}
>
  <slot />
  {customIcon && <span class="custom-icon__span"><slot name="icon">custom_icon</slot></span>}
</Tag>
