---
import { Container } from '@littlesticks/odyssey-theme-components';

const { reversed } = Astro.props;
---

<Container>
	<section
		class={`text-and-image__section ${
			reversed && `text-and-image__section--reversed`
		}`}
	>
		<div class="text-and-image__text">
			<slot name="text-container" />
			<div class="text-and-image__btns">
				<slot name="btns-container" />
			</div>
		</div>
		<div class="text-and-image__image">
			<slot name="image-container" />
		</div>
	</section>
</Container>
