html,
body {
	height: 100%;
}

body {
	max-width: 1920px;
	margin: 0 auto;
	background-color: var(--theme-bg);
	position: relative;
}

pre {
	padding: 1em;
	border-radius: 0.5em;
	overflow: auto;
}

pre .language-id {
	display: none;
}

.announcement-banner__container {
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--theme-surface-2);
	color: var(--theme-on-surface-2);
	position: relative;
	z-index: 100;
	border-bottom-left-radius: var(--theme-shape-radius);
	border-bottom-right-radius: var(--theme-shape-radius);
}
.announcement-banner__container p {
	margin: 0 auto;
}
.announcment-link {
	text-decoration: none;
}

.text-and-image__section {
	margin: var(--section-margin) auto;
	min-height: clamp(90vh, 100vw, calc(100vh - var(--navbar-height)));
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	gap: 1rem;
	margin-bottom: -2rem;
}
.text-and-image__section--reversed .text-and-image__text {
	order: 2;
}
.text-and-image__text {
	padding: 2rem 0;
	justify-self: center;
	max-width: 25rem;
}
.text-and-image__image :global(img) {
	width: 100%;
	height: 100%;
	max-height: 80vh;
	object-fit: cover;
	border-radius: var(--theme-shape-radius);
}

.three-col-text__section {
	--column-count: 3;
	--column-width: calc(100% / var(--column-count));
	background-color: var(--theme-surface-1);
	margin: calc(var(--section-margin) * 3) auto;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: space-evenly;
	padding: 3rem 4rem;
}
.three-col-text__column {
	width: var(--column-width);
	margin-bottom: 2rem;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.sticky-text-image__section {
	margin: -2rem auto calc(var(--section-margin) * 2) auto;
	display: grid;
	grid-template-columns: 6fr 4fr;
	position: relative;
	gap: 2rem;
}
.sticky-text-image__section--reversed {
	grid-template-columns: 4fr 6fr;
}
.sticky-text-image__section--reversed .sticky-text-image__text {
	order: 2;
}
.sticky-text-image__image :global(:first-child) {
	position: sticky;
	top: 0;
}
.sticky-text-image__section :global(img) {
	border-radius: var(--theme-shape-radius);
}
.cta-card__section {
	--section-bg: var(--theme-surface-1);
	--section-color: var(--theme-on-surface-1);
	margin: var(--section-margin) auto;
	padding: 2rem;
	background-color: var(--section-bg);
	color: var(--section-color);
	border-radius: var(--theme-shape-radius);
}
.cta-card__container {
	margin: 0 auto;
	max-width: var(--container-max-width-narrow);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.title {
	display: block;
	font-size: 1.75em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}
.btn {
	width: fit-content;
	padding: 0.36rem 0.92rem;
	margin-bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--theme-primary);
	color: var(--theme-on-primary);
	border: none;
	border-radius: var(--theme-button-border-radius);
	font-weight: 500;
}
.btn:hover {
	background-color: var(--theme-primary-hover);
}
.btn--unelevated {
	background-color: transparent;
	color: var(--theme-on-bg);
}
.btn--unelevated:hover {
	background-color: transparent;
	opacity: var(--theme-primary-hover);
}
.btn--outlined {
	color: var(--theme-primary);
	background-color: transparent;
	border: 2px solid var(--theme-primary);
	transition: background-color var(--theme-transition);
}
.btn--outlined:hover {
	background-color: var(--theme-primary);
	color: var(--theme-on-primary);
}
.custom-icon__span {
	margin-left: 0.25rem;
	display: flex;
	align-items: center;
	width: 24px;
	height: 24px;
}

a.btn {
	text-decoration: none;
}
button.btn {
	cursor: pointer;
	outline: none;
}

@media (max-width: 1200px) {
	.three-col-text__section {
		--column-count: 2;
	}
}
@media (max-width: 768px) {
	.text-and-image__section {
		margin: 2rem auto -2rem auto;
		grid-template-columns: 1fr;
	}
	.text-and-image__text {
		padding: 2rem 0;
	}
	.three-col-text__section {
		--column-count: 1;
	}
	.sticky-text-image__section {
		grid-template-columns: 1fr;
	}
}
/* .momoyoga-schedule {
	font-family: var(--theme-font-family-sans);
}
/* (the style of the name of the day) */
/*   */
/* (the style of the display of the date) */
/* .momoyoga-date  */
/* (the style of displaying the class title) */
/* .momoyoga-lesson-title {
	color: var(--theme-primary);
} */
/* (the style of displaying the start time of the class) */
/* .momoyoga-lesson-time {
	color: var(--theme-primary-hover);
}
.momoyoga-lesson-action {
	background-color: var(--theme-primary);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 3px;
	margin-right: 3px;
	border-radius: var(--theme-button-border-radius);
} */

/* (the style of the 'Book now' button) */
/*   */
/* (styles that involve the plane per lesson content) */
/* .momoyoga-lesson  */
/* (styles that involve the drop down area per lesson) */
/* .momoyoga-lesson-details  */
/* (the style of displaying the teacher name) */
/* .momoyoga-lesson-teacher  */
/* (the style of displaying the teacher name) */
/* .momoyoga-lesson-description  */
/* (the style of any link to the lesson) */
/*  */
