---
const {text, href, newTab} = Astro.props;
---
<meta charset="utf-8" />
<div class="announcement-banner__container">
  <p>
    {newTab ?
    <a href={href} target="_blank" rel="noopener noreferrer">
      {text}
    </a> :
    <a href={href}>
     {text}
    </a>}
  </p>
</div>

<style>
.announcement-banner__container {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--theme-surface-2);
  color: var(--theme-on-surface-2);
  position: relative;
  z-index: 100;
  border-bottom-left-radius: var(--theme-shape-radius) ;
  border-bottom-right-radius: var(--theme-shape-radius) ;
}
.announcement-banner__container p {
  margin: 0 auto;
}
a {
  text-decoration: none;
}
</style>