---
const {text, href, newTab} = Astro.props;
---
<meta charset="utf-8" />
<div class="announcement-banner__container">
  <p>
    {newTab ?
    <a class = "announcment-link" href={href} target="_blank" rel="noopener noreferrer">
      {text}
    </a> :
    <a class = "announcment-link" href={href}>
     {text}
    </a>}
  </p>
</div>
