---
import Container from '../core/Container.astro';

const {reversed} = Astro.props;
---

<Container>
  <section class={`sticky-text-image__section ${reversed && `sticky-text-image__section--reversed`}`}>
    <div class="sticky-text-image__text">
      <slot name="text-container"></slot>
    </div>
    <div class="sticky-text-image__image">
      <slot name="image-container"></slot>
    </div>
  </section>
</Container>