---
import Container from '../core/Container.astro';
---
  <section>
    <section class="three-col-text__section">
      <div class="three-col-text__column">
        <slot name="column-1-body"></slot>
        <slot name="column-1-cta"></slot>
      </div>
      <div class="three-col-text__column">
        <slot name="column-2-body"></slot>
        <slot name="column-2-cta"></slot>
      </div>
      <div class="three-col-text__column">
        <slot name="column-3-body"></slot>
        <slot name="column-3-cta"></slot>
      </div>
    </section>
</section>