---
import Container from '../core/Container.astro';
---
  <section>
    <section class="three-col-text__section">
      <div class="three-col-text__column">
        <slot name="column-1-body"></slot>
        <slot name="column-1-cta"></slot>
      </div>
      <div class="three-col-text__column">
        <slot name="column-2-body"></slot>
        <slot name="column-2-cta"></slot>
      </div>
      <div class="three-col-text__column">
        <slot name="column-3-body"></slot>
        <slot name="column-3-cta"></slot>
      </div>
    </section>
</section>
  <style>
  .three-col-text__section {
    --column-count: 3;
    --column-width: calc(100% / var(--column-count));
    background-color: var(--theme-surface-1);
    margin: calc(var(--section-margin) *3) auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    padding: 3rem 4rem
  }
  .three-col-text__column {
    width: var(--column-width);
    margin-bottom: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media(max-width: 1200px) {
    .three-col-text__section {
      --column-count: 2;
    }
  }
  @media(max-width: 768px) {
    .three-col-text__section {
      --column-count: 1;
    }
  }
</style>