---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | Studio Seven6 Yoga',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h2>About Studio Seven6 Yoga</h2>
			<p>
				Welcome to Studio Seven6 Yoga! We cannot wait to Yoga.Stretch.Recover YOU!
        We are an independently owned yoga studio located inside of Northridge Fitness at 300 McFarland Blvd, Northport, AL 35476. All of our teachers are at least 200hr trained through Yoga Alliance approved school. We are all seasoned teachers with thousands of hours under our belts. There is a childcare option for $5.00 and we have very nice bathrooms and showers for you to use. The use of the Northridge Fitness facility for the day is an additional cost through Northridge Fitness.
        <br/> We can't wait to see you. Namaste <br/><br/>
        Please register for classes and purchase memberships and class packs
        <a href="https://momoyoga.com/studioseven6yoga/register/">here</a><br/>
        Contact us at <a href="tel:2056145425">(205) 614-5425</a>
			</p>
		</div>
    <picture slot="image-container">
      <img
        src="/assets/images/about-header.jpg"
        alt="Astro Odyssee"
        id="home-hero-image"
      />
    </picture>
	</HeroSection>
</Layout>
