---
import ContactForm from '../../components/forms/ContactForm.astro';
import Layout from '../../layouts/Page.astro';
import { Container } from '@littlesticks/odyssey-theme-components';

const seo = {
	title: 'Contact | Studio Seven6 Yoga',
	description: 'Contact Page',
};
---

<Layout seo={seo}>
	<Container>
		<section class="contact-hero__section">
			<div class="contact-hero__text-section">
				<h1>Contact Us</h1>
				<p>
					Want to know more? Have questions that need to be answered? Reach out to us at either of our linked social media pages or give us a shout at the email or phone number listed below!
				</p>
				<div>
					<p>
						<em><a href="tel:2056145425">(205) 614-5425</a></em> • <em
							><a href="mailto:studioseven6@yahoo.com">Studioseven6@yahoo.com</a
							></em> • <em><a href="https://facebook.com/studioseven6"target="_blank" rel="noopener noreferrer">Facebook</a></em> • <em><a href="https://instagram.com/studioseven6_yoga" target="_blank" rel="noopener noreferrer" >Instagram</a></em>
					</p>
				</div>
			</div>
		</section>
	</Container>
</Layout>

<style>
	.contact-hero__section {
		margin: var(--section-margin) auto;
		display: grid;
		grid-template-columns: 1fr;
		min-height: calc(90vh - var(--navbar-height));
		gap: 3rem;
	}
	.contact-hero__text-section {
		padding: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: var(--theme-surface-2);
		border-radius: var(--theme-shape-radius);
	}
	.col-2__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	@media (max-width: 768px) {
		.contact-hero__section {
			grid-template-columns: 1fr;
		}
	}
</style>
