---
import Layout from '../../layouts/Page.astro';
import { Container, Button } from '@littlesticks/odyssey-theme-components';

const seo = {
	title: 'Pricing | Studio Seven6 Yoga',
	description: 'Look at all of our pricing options to find the best deal for yous',
};
---

<Layout {seo}>
  <div class="mx-auto max-w-7xl py-12 px-4 sm:px-6 lg:px-8 lg:py-12">
    <div class="space-y-12 ">
      <div class="space-y-5 sm:space-y-4">
        <h1 class="text-lg font-bold tracking-tight sm:text-4xl">Studio Seven6 Yoga Price List</h1>
      </div>
    </div>
    <div class="relative">
  <div class="absolute inset-0 flex items-center" aria-hidden="true">
    <div class="w-full border-t border-gray-300 mb-4"></div>
  </div>
 
</div>
    <div class="overflow-hidden bg-white shadow sm:rounded-md mt-6">
      <ul role="list" class="divide-y divide-gray-200">
        <li>
          <div class="px-4 pt-4  sm:px-6 hover:bg-gray-50">
            <div class="flex items-center justify-between">
              <p class="truncate text-lg font-medium text-indigo-600">Single Class</p>
              <div class="ml-2 flex flex-shrink-0">
                <p class="inline-flex rounded-full bg-green-100 px-2 py-1 text-lg font-semibold leading-5 text-green-800">$20</p>
              </div>
            </div>
            <div class=" sm:flex sm:justify-end">
              <div class=" flex items-center text-sm text-gray-500 sm:mt-0">
                <p>$20 per class</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="px-4 pt-4  sm:px-6 hover:bg-gray-50">
            <div class="flex items-center justify-between">
              <p class="truncate text-lg font-medium text-indigo-600">5 Class Pack</p>
              <div class="ml-2 flex flex-shrink-0">
                <p class="inline-flex rounded-full bg-green-100 px-2 py-1 text-lg font-semibold leading-5 text-green-800">$95</p>
              </div>
            </div>
            <div class=" sm:flex sm:justify-end">
              <div class=" flex items-center text-sm text-gray-500 sm:mt-0">
                <p>$19 per class</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="px-4 pt-4  sm:px-6 hover:bg-gray-50">
            <div class="flex items-center justify-between">
              <p class="truncate text-lg font-medium text-indigo-600">10 Class Pack</p>
              <div class="ml-2 flex flex-shrink-0">
                <p class="inline-flex rounded-full bg-green-100 px-2 py-1 text-lg font-semibold leading-5 text-green-800">$165</p>
              </div>
            </div>
            <div class=" sm:flex sm:justify-end">
              <div class=" flex items-center text-sm text-gray-500 sm:mt-0">
                <p>$16.50 per class</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="px-4 pt-4  sm:px-6 hover:bg-gray-50">
            <div class="flex items-center justify-between">
              <p class="truncate text-lg font-medium text-indigo-600">20 Class Pack</p>
              <div class="ml-2 flex flex-shrink-0">
                <p class="inline-flex rounded-full bg-green-100 px-2 py-1 text-lg font-semibold leading-5 text-green-800">$315</p>
              </div>
            </div>
            <div class=" sm:flex sm:justify-end">
              <div class=" flex items-center text-sm text-gray-500 sm:mt-0">
                <p>$15.50 per class</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="px-4 pt-4  sm:px-6 hover:bg-gray-50">
            <div class="flex items-center justify-between">
              <p class="truncate text-lg font-medium text-indigo-600">Yoga for Seniors Single Class</p>
              <div class="ml-2 flex flex-shrink-0">
                <p class="inline-flex rounded-full bg-green-100 px-2 py-1 text-lg font-semibold leading-5 text-green-800">$10</p>
              </div>
            </div>
            <div class=" sm:flex sm:justify-end">
              <div class=" flex items-center text-sm text-gray-500 sm:mt-0">
                <p>$10 per class</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="px-4 pt-4  sm:px-6 hover:bg-gray-50">
            <div class="flex items-center justify-between">
              <p class="truncate text-lg font-medium text-indigo-600">Yoga for Seniors 5 Class Pack</p>
              <div class="ml-2 flex flex-shrink-0">
                <p class="inline-flex rounded-full bg-green-100 px-2 py-1 text-lg font-semibold leading-5 text-green-800">$50</p>
              </div>
            </div>
            <div class=" sm:flex sm:justify-end">
              <div class=" flex items-center text-sm text-gray-500 sm:mt-0">
                <p>$10 per class</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
      
    </div>
      <div class="mt-2 flex flex-col items-center justify-center space-y-0" >
        <p class="truncate italic text-md font-small">All class packs expire after 3 months</p>
        <p class="truncate italic text-md font-small">All single classes expire in 1 month</p>
      </div>
      <div class="overflow-hidden bg-white shadow sm:rounded-md mt-4 mb-4">
      <ul role="list" class="divide-y divide-gray-200">
      <li>
          <div class="px-4 pt-4  sm:px-6 hover:bg-gray-50">
            <div class="flex items-center justify-between">
              <p class="truncate text-lg font-medium text-indigo-600">1 Month Unlimited</p>
              <div class="ml-2 flex flex-shrink-0">
                <p class="inline-flex rounded-full bg-green-100 px-2 py-1 text-lg font-semibold leading-5 text-green-800">$130</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="px-4 pt-4  sm:px-6 hover:bg-gray-50">
            <div class="flex items-center justify-between">
              <p class="truncate text-lg font-medium text-indigo-600">3 Months Unlimited</p>
              <div class="ml-2 flex flex-shrink-0">
                <p class="inline-flex rounded-full bg-green-100 px-2 py-1 text-lg font-semibold leading-5 text-green-800">$350</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
      </div>
      <div class="mt-2 flex flex-col items-center justify-center space-y-0" >
        <p class="truncate text-md font-bold">Individaul/Couple Private Session</p>
      </div>
      <div class="overflow-hidden bg-white shadow sm:rounded-md mb-4">
      <ul role="list" class="divide-y divide-gray-200">
      <li>
          <div class="px-4 pt-4  sm:px-6 hover:bg-gray-50">
            <div class="flex items-center justify-between">
              <p class="truncate text-lg font-medium text-indigo-600">30 Minutes</p>
              <div class="ml-2 flex flex-shrink-0">
                <p class="inline-flex rounded-full bg-green-100 px-2 py-1 text-lg font-semibold leading-5 text-green-800">$45</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="px-4 pt-4  sm:px-6 hover:bg-gray-50">
            <div class="flex items-center justify-between">
              <p class="truncate text-lg font-medium text-indigo-600">45 Minutes</p>
              <div class="ml-2 flex flex-shrink-0">
                <p class="inline-flex rounded-full bg-green-100 px-2 py-1 text-lg font-semibold leading-5 text-green-800">$55</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="px-4 pt-4  sm:px-6 hover:bg-gray-50">
            <div class="flex items-center justify-between">
              <p class="truncate text-lg font-medium text-indigo-600">60 Minutes</p>
              <div class="ml-2 flex flex-shrink-0">
                <p class="inline-flex rounded-full bg-green-100 px-2 py-1 text-lg font-semibold leading-5 text-green-800">$65</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
      </div>
      <div class="mt-2 flex flex-col items-center justify-center space-y-0" >
        <p class="truncate text-md font-bold">Group Private Session (3-10 People)</p>
      </div>
      <div class="overflow-hidden bg-white shadow sm:rounded-md mb-4">
      <ul role="list" class="divide-y divide-gray-200">
      <li>
          <div class="px-4 pt-4  sm:px-6 hover:bg-gray-50">
            <div class="flex items-center justify-between">
              <p class="truncate text-lg font-medium text-indigo-600">30 Minutes</p>
              <div class="ml-2 flex flex-shrink-0">
                <p class="inline-flex rounded-full bg-green-100 px-2 py-1 text-lg font-semibold leading-5 text-green-800">$70</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="px-4 pt-4  sm:px-6 hover:bg-gray-50">
            <div class="flex items-center justify-between">
              <p class="truncate text-lg font-medium text-indigo-600">45 Minutes</p>
              <div class="ml-2 flex flex-shrink-0">
                <p class="inline-flex rounded-full bg-green-100 px-2 py-1 text-lg font-semibold leading-5 text-green-800">$85</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="px-4 pt-4  sm:px-6 hover:bg-gray-50">
            <div class="flex items-center justify-between">
              <p class="truncate text-lg font-medium text-indigo-600">60 Minutes</p>
              <div class="ml-2 flex flex-shrink-0">
                <p class="inline-flex rounded-full bg-green-100 px-2 py-1 text-lg font-semibold leading-5 text-green-800">$100</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
      </div>
    </div>
</Layout>