---
import Container from "../../components/OdesseyComponents/core/Container.astro"
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'Schedule | Studio Seven6 Yoga',
	description: 'Schedule Page',
};
---

<Layout seo = {seo}>

    <section>
    <div class="momoyoga-schedule" data-momo-schedule="https://www.momoyoga.com/studioseven6yoga/schedule">
    </div>
    </section>

</Layout>

<style>
  section {
    padding: var(--section-margin) calc(var(--section-margin) * 2) calc(var(--section-margin) * 2)
  }
  @media (max-width: 768px) {
		section {
     padding: 0 auto 1rem
    }
  } 
</style>
