---
import { Button, Container, TextCardSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';

const seo = {
	title: 'Our Team | Studio Seven6 Yoga',
	description: 'Meet our team',
};
---

<Layout {seo}>
	<Container>
		<TextCardSection>
			<h2>This Page is Under Construction</h2>
      <h3>Good things to come 👀</h3>
			<div class="cta-buttons__container">
        <Button
					href="/"
					>
          Return Home
				</Button>
			</div>
		</TextCardSection>
	</Container>
</Layout>

<style>
	.cta-buttons__container {
		display: flex;
		flex-wrap: wrap;
	}
	.cta-buttons__container :global(a) {
    margin-right: 1rem;
		margin-bottom: 1rem;
	}
	.code-buttons__container {
		margin: 1rem auto;
		display: flex;
		flex-wrap: wrap;
	}
	.code-buttons__container > a {
		margin-right: 1rem;
		margin-bottom: 1rem;
	}
</style>
