---
import { Button, Container, TextCardSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';

const seo = {
	title: 'Our Team | Studio Seven6 Yoga',
	description: 'Meet our team',
};
---

<Layout {seo}>
    <div class="mx-auto max-w-7xl py-12 px-4 sm:px-6 lg:px-8 lg:py-12">
      <div class="space-y-12 lg:grid lg:grid-cols-3 lg:gap-8 lg:space-y-0">
      <div class="space-y-5 sm:space-y-4">
        <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">Our Team</h2>
        <p class="text-xl text-gray-500">Meet our amazing team of instructors </p>
      </div>
      <div class="lg:col-span-2">
        <ul role="list" class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 sm:space-y-0 lg:gap-x-8">
          <li>
            <div class="space-y-4">
               <img class="rounded-lg object-cover shadow-lg" src="/assets/images/mon-1514697_1755139880.jpeg" alt="">
              <div class="space-y-1 text-lg font-medium leading-6">
                <h3>Monica Pettus</h3>
                <p class="text-blue-600">Instructor / Co-Owner</p>
              </div>
              <div class="text-lg">
                <p class="text-gray-500">Monica Pettus, a former elementary education teacher, had been practicing yoga for 18 years. She was former gymnast/tumbler and college cheerleader at Arkansas State University. In 2009 she became certified to teach pilates and then in 2010 began working on her 200 RYT through Yoga Fit. In 2022 she did a second 200hr RYT trough Yoga Renew. 
Monica has over 2500 hours of teaching experience in yoga and pilates at Northridge Fitness, Yoga Bliss, University of Alabama Athletics, University of Alabama School of Business, and various high school athletics in the Northport and Tuscaloosa. 
Monica has worked with all sorts of athletes with mobility, functional movement, and recovery, including University of Alabama women's basketball, men's basketball, men's golf, women's volleyball, and women's gymnastics. She had also worked with swimmers, runner's, tennis players, cyclists, football, and baseball players.
Monica loves to teach a vinyasa flow working towards a peak pose at the end as well as athletic stretch, and yoga skills.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="space-y-4">
              
                <img class="rounded-lg object-cover shadow-lg" src="/assets/images/shannon_avatar.jpeg" alt="">
              
              <div class="space-y-1 text-lg font-medium leading-6">
                <h3>Shannon Pearson</h3>
                <p class="text-blue-600">Instructor / Co-Owner</p>
              </div>
              <div class="text-lg">
                <p class="text-gray-500">Shannon was born and raised in Tuscaloosa. She is a mom of five, a bookkeeper, a group fitness instructor, a yogi, and now a business owner!  Shannon is passionate about health & wellness and how it can positively affect one's physical & emotional well being. She started her fitness career in 1993 teaching step aerobics. Since then, Shannon has completed multiple group fitness certifications and recently completed a 200HR yoga training.  She has shared the joy of yoga with people of all ages & abilities and is especially interested in teaching student athletes how yoga can benefit them. Currently, Shannon is introducing yoga to her son's high school basketball team and teaching classes at NorthRidge Fitness.  Her teaching style is a true extension of herself...…she goes with the flow.  Shannon believes yoga is for everyone and her vision is to help others find a healthy balance in their practice to bring peace, health and happiness to their life.  Off the mat, Shannon enjoys spending time with family, watching her kids play sports, and exploring Pinterest for new adventures.</p>
              </div>
            </div>
          </li>
          

          

         
          <li>
            <div class="space-y-4">
              <img class="rounded-lg object-cover shadow-lg" src="/assets/images/terry_avatar.jpeg" alt="">
              <div class="space-y-1 text-lg font-medium leading-6">
                <h3>Terry Hobson</h3>
                <p class="text-blue-600">Instructor</p>
              </div>
              <div class="text-lg">
                <p class="text-gray-500">Terry has been teaching yoga for 15 years. He has had multiple 200 hour trainings and has approximately 2000 hours teaching experience working with all levels of yogi’s. He teaches a Baptiste style of class. When not teaching, Terry loves pilates, walking and playing with his dog, and cheering on the Tide!</p>
              </div>
            </div>
          </li>
          

          <li>
            <div class="space-y-4">
              <img class="rounded-lg object-cover shadow-lg" src="/assets/images/joann_avatar.jpeg" alt="">
              <div class="space-y-1 text-lg font-medium leading-6">
                <h3>Jo Ann Cheval</h3>
                <p class="text-blue-600">Instructor</p>
              </div>
              <div class="text-lg">
                <p class="text-gray-500">Doing anything with awareness to how you feel is yoga! In Joanne’s class you will practice self awareness while being physically challenged as you play with your edge. This class combines the strength and mobility in a vinyasa flow still set to music. Expect to move, sweat, and breathe.</p>
              </div>
            </div>
          </li>
           <li>
            <div class="space-y-4">
               <img class="rounded-lg object-cover shadow-lg" src="/assets/images/allison_avatar.jpeg" alt="">
              <div class="space-y-1 text-lg font-medium leading-6">
                <h3>Alison White</h3>
                <p class="text-blue-600">Instructor</p>
              </div>
              <div class="text-lg">
                <p class="text-gray-500">For over 20 years, Alison has had a true passion for the fitness and health industry after a health challenge in her 20s. She begin practicing yoga reluctantly because it was not her thing, but noticed how much better she felt and realized she wanted to share that with others. She strives to teach in a way that provides access to all ages and levels of abilities, creates thought and meaning and lends challenges, both physically and mentally. Alison loves a great playlist to flow to! When not teaching, she is an enthusiastic participant for different genres of fitness classes, and hangs out with her husband and pup.</p>
              </div>
            </div>
          </li>

          

          

         
          <li>
            <div class="space-y-4">
              <img class="rounded-lg object-cover shadow-lg" src="/assets/images/madison.jpeg" alt="">
              <div class="space-y-1 text-lg font-medium leading-6">
                <h3>Madison Merkel</h3>
                <p class="text-blue-600">Instructor</p>
              </div>
              <div class="text-lg">
                <p class="text-gray-500">Meet Madison! She will be subbing classes and teaching occasionally on the weekends at Studio Seven6 Yoga.
Madison is a grad student and getting her MFA in Acting at UA. When she is not performing or teaching academic classes, she enjoys practicing yoga and has taught classes since 2020. A few fun facts about Madison is she is getting married in August and have a dog named Sophie.<br/>Madison loves a heated yoga class and currently teaches at the UA Rec center.</p>
              </div>
            </div>
          </li>

           <li>
            <div class="space-y-4">
              <img class="rounded-lg object-cover shadow-lg" src="/assets/images/gil.jpeg" alt="">
              <div class="space-y-1 text-lg font-medium leading-6">
                <h3>Gillian Grenz</h3>
                <p class="text-blue-600">Instructor</p>
              </div>
              <div class="text-lg">
                <p class="text-gray-500">Gil, a former competitive and collegiate dancer, is extremely invested in mindful movement. As a teenager, her curiosity and fascination with yoga grew as she frequently attended hot yoga classes in between rehearsals and teaching dance. 
After her freshman year at UA, Gil found that she enjoyed a more playful version of mindful and intentional movement, and in 2020, received her 200-hour certification from the Yoga Alliance and became a certified Baptiste Educator. In her practice, Gil strives to create the perfect balance of physical practice with mindfulness and meditation. She loves teaching a Baptiste style flow, set to music and provides modifications & variations to tailor the practice to individual needs.</p>
              </div>
            </div>
          </li>

            

          <!-- More people... -->
           <li>
            <div class="space-y-4">
              <img class="rounded-lg object-cover shadow-lg" src="/assets/images/soph_avatar.jpeg" alt="">
              <div class="space-y-1 text-lg font-medium leading-6">
                <h3>Sophia Geisser</h3>
                <p class="text-blue-600">Instructor</p>
              </div>
              <div class="text-lg">
                <p class="text-gray-500">Sophia is thrilled to join the Studioseven6 team as a yoga instructor! Originally from NYC, she brings vibrant energy to her classes, blending 15+ years of personal practice with 5+ years of teaching experience. Sophia holds an ITC certification and is certified in the Luigi dance technique, enhancing her unique approach to movement. Currently, she works as a yoga instructor at the University of Alabama Rec Center. As a PhD student in Clinical Psychology, she integrates her research on music, dance, and movement as therapeutic interventions into her teaching. A lover of the British Invasion, eighties rock music, and showtunes, Sophia flows with the same passion in her teaching. In her free time, she enjoys dancing, traveling across the world in search of the best meals, the ocean, and spending quality time with family.</p>
              </div>
            </div>
          </li>
           <li>
            <div class="space-y-4">
               <img class="rounded-lg object-cover shadow-lg" src="/assets/images/susan_avatar.jpeg" alt="">
              <div class="space-y-1 text-lg font-medium leading-6">
                <h3>Susan Williams</h3>
                <p class="text-blue-600">Instructor</p>
              </div>
              <div class="text-lg">
                <p class="text-gray-500">After many years of loving the practice of yoga, Susan Williams completed her 200-hour teacher training in 2014 at Samahita Retreat in Koh Samui, Thailand, where she returned in 2019 for an additional 100-hour training in pranayama, the yogic system of breathwork. Her practice and teaching are influenced by the precision of Iyengar, and the sequencing and flow of Ashtanga and other vinyasa styles. Susan is a classically trained soprano on the music faculty at The University of Alabama where she teaches voice and voice pedagogy.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="space-y-4">
               <img class="rounded-lg object-cover shadow-lg" src="/assets/images/tasha_avatar.jpg" alt="">
              <div class="space-y-1 text-lg font-medium leading-6">
                <h3>Tasha Drake</h3>
                <p class="text-blue-600">Instructor</p>
              </div>
              <div class="text-lg">
                <p class="text-gray-500">Tasha completed her Yoga and Pilates training in 2022 and is excited to share her love of movement and mindfulness with others. She creates classes that are energizing, balanced, and welcoming to all levels. Outside the studio, Tasha is a chemistry professor at Stillman College and enjoys cooking, traveling, and spending time with family and friends.</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    </div>
</Layout>

