---
import { Button, Container, TextCardSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';

const seo = {
	title: 'Our Team | Studio Seven6 Yoga',
	description: 'Meet our team',
};
---

<Layout {seo}>
    <div class="mx-auto max-w-7xl py-12 px-4 sm:px-6 lg:px-8 lg:py-12">
      <div class="space-y-12 lg:grid lg:grid-cols-3 lg:gap-8 lg:space-y-0">
      <div class="space-y-5 sm:space-y-4">
        <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">Our Team</h2>
        <p class="text-xl text-gray-500">Meet our amazing team of instructors </p>
      </div>
      <div class="lg:col-span-2">
        <ul role="list" class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 sm:space-y-0 lg:gap-x-8">
          <li>
            <div class="space-y-4">
               <img class="rounded-lg object-cover shadow-lg" src="/assets/images/monica_avatar.jpeg" alt="">
              <div class="space-y-1 text-lg font-medium leading-6">
                <h3>Monica Pettus</h3>
                <p class="text-blue-600">Instructor / Co-Owner</p>
              </div>
              <div class="text-lg">
                <p class="text-gray-500">Monica Pettus, a former elementary education teacher, had been practicing yoga for 18 years. She was former gymnast/tumbler and college cheerleader at Arkansas State University. In 2009 she became certified to teach pilates and then in 2010 began working on her 200 RYT through Yoga Fit. In 2022 she did a second 200hr RYT trough Yoga Renew. 
Monica has over 2500 hours of teaching experience in yoga and pilates at Northridge Fitness, Yoga Bliss, University of Alabama Athletics, University of Alabama School of Business, and various high school athletics in the Northport and Tuscaloosa. 
Monica has worked with all sorts of athletes with mobility, functional movement, and recovery, including University of Alabama women's basketball, men's basketball, men's golf, women's volleyball, and women's gymnastics. She had also worked with swimmers, runner's, tennis players, cyclists, football, and baseball players.
Monica loves to teach a vinyasa flow working towards a peak pose at the end as well as athletic stretch, and yoga skills.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="space-y-4">
              
                <img class="rounded-lg object-cover shadow-lg" src="/assets/images/shannon_avatar.jpeg" alt="">
              
              <div class="space-y-1 text-lg font-medium leading-6">
                <h3>Shannon Pearson</h3>
                <p class="text-blue-600">Instructor / Co-Owner</p>
              </div>
              <div class="text-lg">
                <p class="text-gray-500">Shannon was born and raised in Tuscaloosa. She is a mom of five, a bookkeeper, a group fitness instructor, a yogi, and now a business owner!  Shannon is passionate about health & wellness and how it can positively affect one's physical & emotional well being. She started her fitness career in 1993 teaching step aerobics. Since then, Shannon has completed multiple group fitness certifications and recently completed a 200HR yoga training.  She has shared the joy of yoga with people of all ages & abilities and is especially interested in teaching student athletes how yoga can benefit them. Currently, Shannon is introducing yoga to her son's high school basketball team and teaching classes at NorthRidge Fitness.  Her teaching style is a true extension of herself...…she goes with the flow.  Shannon believes yoga is for everyone and her vision is to help others find a healthy balance in their practice to bring peace, health and happiness to their life.  Off the mat, Shannon enjoys spending time with family, watching her kids play sports, and exploring Pinterest for new adventures.</p>
              </div>
            </div>
          </li>
          

          

          <li>
            <div class="space-y-4">
               <img class="rounded-lg object-cover shadow-lg" src="/assets/images/allison_avatar.jpeg" alt="">
              <div class="space-y-1 text-lg font-medium leading-6">
                <h3>Alison White</h3>
                <p class="text-blue-600">Instructor</p>
              </div>
              <div class="text-lg">
                <p class="text-gray-500">For over 20 years, Alison has had a true passion for the fitness and health industry after a health challenge in her 20s. She begin practicing yoga reluctantly because it was not her thing, but noticed how much better she felt and realized she wanted to share that with others. She strives to teach in a way that provides access to all ages and levels of abilities, creates thought and meaning and lends challenges, both physically and mentally. Alison loves a great playlist to flow to! When not teaching, she is an enthusiastic participant for different genres of fitness classes, and hangs out with her husband and pup.</p>
              </div>
            </div>
          </li>
          

          <li>
            <div class="space-y-4">
              <img class="rounded-lg object-cover shadow-lg" src="/assets/images/joann_avatar.jpeg" alt="">
              <div class="space-y-1 text-lg font-medium leading-6">
                <h3>Jo Ann Cheval</h3>
                <p class="text-blue-600">Instructor</p>
              </div>
              <div class="text-lg">
                <p class="text-gray-500">Doing anything with awareness to how you feel is yoga! In Joanne’s class you will practice self awareness while being physically challenged as you play with your edge. This class combines the strength and mobility in a vinyasa flow still set to music. Expect to move, sweat, and breathe.</p>
              </div>
            </div>
          </li>

          

          

          <li>
            <div class="space-y-4">
              <img class="rounded-lg object-cover shadow-lg" src="/assets/images/terry_avatar.jpeg" alt="">
              <div class="space-y-1 text-lg font-medium leading-6">
                <h3>Terry Hobson</h3>
                <p class="text-blue-600">Instructor</p>
              </div>
              <div class="text-lg">
                <p class="text-gray-500">Terry has been teaching yoga for 15 years. He has had multiple 200 hour trainings and has approximately 2000 hours teaching experience working with all levels of yogi’s. He teaches a Baptiste style of class. When not teaching, Terry loves pilates, walking and playing with his dog, and cheering on the Tide!</p>
              </div>
            </div>
          </li>

          <!-- More people... -->
        </ul>
      </div>
    </div>
    </div>
</Layout>

